[2021-06-18 19:41] tadaspetra opened #3 "Update example to use Stateless Widget"
**Is your feature request related to a problem? Please describe.**
Not really a problem, but it would be an even simpler example :)

**Describe the solution you'd like**
Update to be a stateless widget, and make sure everything still works

[2021-06-18 19:44] tadaspetra opened #4 "Instead of null checks, use default values for class parameters"
**Describe the solution you'd like**
There are some null checks within the code, that could be updated to have a default value in the data class constructor. This would make the code slightly more efficient as there would be one less null check

**Describe alternatives you've considered**
Just keeping the null checks, doesn't affect the code too much, would make it a little bit cleaner

[2021-06-21 14:25] IsmailAlamKhan opened #5 "[FEATURE] Add pictures on the readme about the package."
Before using a package most of us see the images to see the package in action. So we would like pictures on the readme from the package.

[2021-06-22 03:30] rlee1990 opened #6 "[BUG] With Video Calls"
When using on Android Samsung Galaxy S20+ and Note 8 I came across an issue that the video for the Galaxy s20+ would disappear on the Note 8. I at first thought it only happened when pressing the mute button on the s20+ but it happens randomly when the devices are moved also.

[2021-06-22 16:21] Meherdeep commented on #5
@IsmailAlamKhan Thanks for your suggestion, we will make sure to add them in the next release.

[2021-06-22 16:23] Meherdeep commented on #6
@rlee1990 Can you please share the Agora SDK logs and screenshot of the problem that you are describing?

[2021-06-22 16:30] tadaspetra commented on #6
@rlee1990 Can you also share your code?

[2021-06-22 16:46] rlee1990 commented on #6
@tadaspetra here is my code:
[code]
@Meherdeep I will send the other information in a moment.

[2021-06-22 16:55] rlee1990 commented on #6
@Meherdeep here is my logs
[code]

[2021-06-22 16:56] rlee1990 commented on #6
This one might look better not sure which one helps more:
[code]

[2021-06-22 16:56] rlee1990 commented on #6
Here is an image of each device ![image](https://user-images.githubusercontent.com/21372502/122968227-4f3ed500-d359-11eb-8a91-2043707141ee.jpeg)![image](https://user-images.githubusercontent.com/21372502/122968228-4f3ed500-d359-11eb-8817-c77053175f46.jpeg)

[2021-06-22 16:57] rlee1990 commented on #6
Today the video stops showing on the s20+ but the audio will still work like last night.

[2021-06-22 20:29] Meherdeep commented on #6
Hey @rlee1990, Thanks for sharing all the logs. However, I was not able to reproduce the bug that you shared. Can you please try running our example code and see if you're getting the same error?

It would be great if you could share the steps to reproduce this bug? Also, if you could share your Flutter doctor and the android version that you're running on both your devices can help a lot in repro

[2021-06-22 20:45] rlee1990 commented on #6
Okay I will try all of that and let you know @Meherdeep

[2021-06-22 21:04] rlee1990 commented on #6
Okay so I think the issue is only happening when the devices are so close that they start to give feedback sounds then they lose the video for each other but still has the audio. The note 8 is running android 9 and the s20+ is running android 11. I tested with the example project and also had the issue only at the above mentioned time. I doubt this would happen in a real world moment so unless you

[2021-06-24 19:54] rlee1990 opened #7 "[BUG] Trying to run project"
I am getting the below error when I try to run in debug mode on an android device.

[code]
This started after I ran get package.
I have ran flutter clean issue remains.

Flutter Doctor:
[code]

[2021-06-24 19:56] #7 closed

[2021-06-25 13:41] momoleu opened #8 "[FEATURE] Live Streaming Example"
Hello, great work! Could we have an example of Live Streaming like Instagram using this package?

[2021-06-25 13:47] Meherdeep commented on #8
Hey @momoleu,

To create a live streaming application just add the `agoraChannelData` parameter inside the AgoraClient class. Using that you can specify the channel type (Live streaming or communication) and the client role (broadcaster or audience).

Have a look at this: https://github.com/AgoraIO-Community/Flutter-UIKit/wiki/Examples#adding-video-streaming-to-your-app

[2021-06-27 12:02] momoleu commented on #8
Hello @Meherdeep thank you for your help.

[2021-06-28 06:42] nowfalsalahudeen opened #9 "[FEATURE] is it having incoming video call notification? if not ,any solution for that?"

[2021-06-28 11:37] Meherdeep commented on #9
Incoming call notification is not included in this SDK. You can use CallKit(iOS) and ConnectionService(Android) to display the call screen. You can read about the complete process [here.](https://docs.agora.io/en/Interactive%20Broadcast/faq/call_invite_notification)

[2021-06-28 11:37] #8 closed

[2021-06-29 11:04] maxxfrazer commented on #5
@IsmailAlamKhan in the meantime, there are pictures in the wiki pages:
https://github.com/AgoraIO-Community/Flutter-UIKit/wiki

[2021-06-29 17:48] rlee1990 opened #10 "UID Question"
Are we able to use string uids or how can we use agora user accounts with this package?

[2021-06-30 03:13] Meherdeep commented on #10
@rlee1990 String uid is not supported in this release. We will try to add it in our upcoming releases.

[2021-06-30 03:24] rlee1990 commented on #10
@rlee1990 thanks that would be a big help as I don't see how it's scalable to create a token for millions of users with a small combination of numbers.

[2021-06-30 16:39] rlee1990 opened #11 "Allow Tokens To Be Passed"
It would be useful to allow us to also just provide a token and not just a temp token or a token url as we are creating our tokens using accounts for string uids and so I get the token before calling the uikit functions but I can't pass it to uikit I receive an error for temptoken.

[2021-06-30 22:40] IsmailAlamKhan commented on #5
thank you so much guys, sorry for the delay was busy. @maxxfrazer @Meherdeep

[2021-07-01 00:27] Ascenio opened #12 "[PROPOSAL] Refactor getters to functions"
There are these two cases in [AgoraClient](https://pub.dev/documentation/agora_uikit/latest/agora_uikit/AgoraClient-class.html) that getters are used to get async information.

https://github.com/AgoraIO-Community/Flutter-UIKit/blob/4ab388978f322caf99234420f5e8f510ebcd0a34/lib/src/agora_client.dart#L15-L30

This is often thought as not good practice because it tricks the client into thinking that

[2021-07-01 00:36] Ascenio opened #13 "[PROPOSAL] Move initialization into it's own function for AgoraClient"
In the `AgoraClient`'s constructor there is an implicit call to a initialization function.

https://github.com/AgoraIO-Community/Flutter-UIKit/blob/4ab388978f322caf99234420f5e8f510ebcd0a34/lib/src/agora_client.dart#L32-L44

If you dive more deep you see there are some async stuff going on which makes the constructor unexpectedly heavy.
Other packages have the same need (e.g.: [camera](https://pub.

[2021-07-01 00:53] Ascenio opened #14 "[PROPOSAL] Make void functions return Future"
There are some functions, mainly in `SessionController` where it returns void but is actually async, which means the client won't wait for operations. In the `AgoraClient`'s `_initAgoraRtcEngine()` it doesn't catches errors because of this.

[2021-07-01 13:41] rlee1990 commented on #11
@Meherdeep any way to allow this? Or am I doing something wrong?

[2021-07-01 13:55] Meherdeep commented on #11
@rlee1990 How are you generating your token?

[2021-07-01 14:01] rlee1990 commented on #11
This is my token code:
I am using a firebase function. I can confirm a token is then created.
[code]

[2021-07-01 14:06] Meherdeep commented on #11
What error are you getting when you pass this token value to the tempToken parameter?

[2021-07-01 14:16] rlee1990 commented on #11
Here is the error:
`I/flutter (30663): onError: ErrorCode.InvalidToken`
and the token: `006c1cc6f30444b4f628686efa644547e6eIAA5xEJgq23CIWylNCxs6X/m0cXu9iuh7ptIEXHaoWYrp6mNqbngNHC4IgBG8Wc8Oh7fYAQAAQDK2t1gAgDK2t1gAwDK2t1gBADK2t1g`

@Meherdeep

[2021-07-01 14:24] rlee1990 commented on #11
If I use this temp token that I generated from the site it works:
`006c1cc6f30444b4f628686efa644547e6eIADA/q8OQEAzczW2w9TsLkEOjA03nn7sYYGBmjQMWCi9HqmNqbkAAAAAEACqPfBqTCHfYAEAAQBLId9g`

[2021-07-01 19:53] Meherdeep commented on #11
@rlee1990 Are you generating this using String uid?

[2021-07-01 19:56] rlee1990 commented on #11
Yes I am @Meherdeep could that be the issue?

[2021-07-01 20:24] Meherdeep commented on #11
Yes, because the join channel function is using int uid for now. You can fork the repo and change the code accordingly.

[2021-07-01 20:28] rlee1990 commented on #11
Thanks will do.

[2021-07-01 20:29] Meherdeep commented on #14
Thanks @Ascenio for all your suggestion. We will look into it.

Feel free to create a PR for the same if you want.

[2021-07-01 20:29] #11 closed

[2021-07-02 15:44] rlee1990 commented on #11
@Meherdeep My fork worked I only added an option for the string uid and still keep everything else if you want to use that when your looking to add it in.

[2021-07-05 17:02] devanshkaria88 commented on #6
Actually its a quite legit bug..

Its not just happening because of feedback sounds... I tried it with my friend who lives quite far from my area and we had the same problem in the release build... In debug build, it worked fine for first few tries, but then when I tried to move the devices, it went black either in one or in some cases both of the devices...

It is worth examining this issue.

[2021-07-05 17:14] Meherdeep commented on #6
@devanshkaria88 Can you please help me with the steps to reproduce this error? If you can share your Agora SDK logs as well it would be great.

[2021-07-05 17:15] #9 closed

[2021-07-06 13:44] tadaspetra commented on #3
Closing due to plans of adding initialize and dispose methods

[2021-07-06 13:44] #3 closed

[2021-07-06 13:44] tadaspetra commented on #12
Changes merged in #16

[2021-07-06 13:44] #12 closed

[2021-07-06 13:45] tadaspetra commented on #14
Changes merged in #15

[2021-07-06 13:45] #14 closed

[2021-07-07 12:51] tadaspetra commented on #4
merged in #18

[2021-07-07 12:51] tadaspetra commented on #4
merged in #18

[2021-07-07 12:51] #4 closed

[2021-07-07 12:52] tadaspetra commented on #6
Reopening issue for potential bug

[2021-07-08 14:28] tadaspetra commented on #10
After talking to the team, it seems that stringUid is actually not recommended to use.

And it actually is scalable to millions of users with int. An int can support 2^63 uids. And the SDK supports minimum 2^31 uids, which is 2.1 Billion. So there isn't really any scalability issues with numbers.

[2021-07-08 19:01] rlee1990 commented on #10
Thanks for that update.

On Thu, Jul 8, 2021 at 10:28 AM Tadas Petra ***@***.***>
wrote:

[2021-07-09 17:33] tadaspetra commented on #10
No problem! Thanks for pointing it out, and I learned something from this!

[2021-07-09 17:33] #10 closed

[2021-07-20 03:10] qcks opened #26 "[BUG] Error: The argument type 'AreaCode' can't be assigned to the parameter type 'List<AreaCode>?'. - 'AreaCode' is from"
lib/controllers/session_controller.dart:41:43
[code]

[2021-07-22 04:11] mrtordoide commented on #26
Also facing this same issue:

`../../../Developer/flutter/.pub-cache/hosted/pub.dartlang.org/agora_uikit-0.0.2/lib/controllers/session_controller.dart:41:43: Error: The argument type 'AreaCode' can't be assigned to the parameter type 'List<AreaCode>?'.
 - 'AreaCode' is from 'package:agora_rtc_engine/src/enums.dart' ('../../../Developer/flutter/.pub-cache/hosted/pub.dartlang.org/agora_rtc_engine-4.

[2021-07-22 04:14] mrtordoide commented on #26
Also facing this same issue. My error output is given below:

[code]

[2021-07-22 21:04] Meherdeep commented on #26
@qcks @mrtordoide Fix for this has been added to the dev branch, please have a look at it.

[2021-07-23 11:04] mrtordoide commented on #26
Got it working. Thanks @Meherdeep

[2021-07-26 18:54] rlee1990 opened #30 "Question"
I created a token server url using firebase functions and I followed the below link but it still says invalid token when using it with the package. I also make sure to change the returned response key to be rtcToken. Is there something I am doing wrong?
[https://www.agora.io/en/blog/how-to-build-a-token-server-for-agora-applications-using-nodejs/](url)

[2021-07-26 23:50] rlee1990 commented on #30
I am getting a no channel name

[2021-07-27 03:54] #30 closed

[2021-07-27 18:36] Basemshawwa opened #31 "[BUG]"
/C:/src/flutter/.pub-cache/hosted/pub.dartlang.org/agora_uikit-0.0.2/lib/controllers/session_controller.dart:41:43: Error: The argument type 'AreaCode' can't be assigned to the parameter type 'List<AreaCode>?'.
 - 'AreaCode' is from 'package:agora_rtc_engine/src/enums.dart' ('/C:/src/flutter/.pub-cache/hosted/pub.dartlang.org/agora_rtc_engine-4.0.6/lib/src/enums.dart').
 - 'List' is from 'dart:cor

[2021-07-28 02:26] #26 closed

[2021-07-28 02:28] Meherdeep commented on #31
@Basemshawwa Please try using the dev branch.

[2021-07-28 07:08] Basemshawwa commented on #31
ok thank you

[2021-07-28 07:31] #31 closed

[2021-07-28 07:32] #5 closed

[2021-07-30 04:09] fullstack-dre commented on #6
**Black Screen on Video Calls**

When I use the AgoraUIKit on Samsung A52 (debug mode), I will always get a black screen, but _after I do fast hot reload feature from Flutter, the camera is suddenly activated and working well._

Is this got something to do with the channel hasn't initialized? Because, I've tried to reinitialize engine via `client.sessionController` but with no avail. My source cod

[2021-07-30 07:07] mrtordoide opened #32 "Active speaker does not work"
I get this output `Active speaker is disabled` in debug console even when `isActiveSpeakerDisabled` is left to default value. Is there any additional config required?

[2021-07-30 19:37] Meherdeep commented on #6
@fullstack-dre Can you please try the latest [version 0.0.3](https://pub.dev/packages/agora_uikit)

[2021-07-30 19:41] Meherdeep commented on #32
@mrtordoide Please make sure that you're running the latest version of the SDK. Also, note that active speaker functionality is currently available only in the Floating layout.

If you're still getting an error after these checks, can you please share the logs and flutter doctor.

[2021-07-31 01:20] fullstack-dre commented on #6
@Meherdeep I've tried the newest version (0.0.3) but it still has the same issue. Black screen for video on joined, while the AgoraClient is correct and then the camera will work when I do a fast hot reload or if I navigate to other page without terminating the channel and come back again.

[2021-07-31 04:08] mrtordoide commented on #32
Hi @Meherdeep , yes I have made sure to use latest SDK and layoutType: Layout.floating set. I tried it again with 0.0.3 version of UIKit but it is still showing me this when an active user is identified.

[code]

Below is longer log:

[code]

[2021-07-31 23:49] luvishq opened #33 "[BUG] Video call not working in live mode production mode (Version 0.3.0)"
**Describe the bug**
I am trying to Agora for my production app, so I changed the stage from testing to live and follow the below steps :
Whenever the user clicks on the video icon in my app, I first call the cloud function to generate a user token for my userid (let's say user_id1ffdf) .
For getting the token i use this :
[code]
3. Once I get the token I call this
[code]
I tried setting that toke

[2021-08-01 06:24] luvishq commented on #33
Fixed by the suggestion in the slack channel , closing it now :)

[2021-08-01 06:24] #33 closed

[2021-08-01 06:27] luvishq opened #34 "[BUG][iOS] App Crashed after launching on iphone 12"
**Describe the bug**
On Android the worked fine, but on iPhone 12 it crashed with the below exception:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  Launch the app on real iphone device
2. The app crashed after the user joins the channel

**Expected behavior**
Shouldn't crash

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete

[2021-08-02 02:20] luvishq commented on #34
@Meherdeep : Getting a similar exception on the test app as well.

[2021-08-02 20:36] Meherdeep commented on #6
@fullstack-dre Can you please share which device you have been using along with your Samsung device and their OS versions. Also please share your Agora SDK logs.

[2021-08-04 05:31] luvishq commented on #34
@Meherdeep : here's the code repo where it is crashing for us on ios : https://github.com/luvishq/agora_poc

[2021-08-04 05:31] luvishq commented on #34
Can you point out what's wrong with it ?

[2021-08-04 20:41] Meherdeep commented on #34
Hey @luvishq, I tried building your app with the credentials you provided and it was missing the token because of which it was throwing an error. I tried building the same app with my credentials and it worked fine.

Can you try generating a temp token from your console and use it in the `AgoraConnectionData` function?

[2021-08-04 21:31] luvishq commented on #34
Hey @Meherdeep ,

Sure here's the  temp token : 00655285ac327784e0aa74269eba5b7ff20IABcF/WP59Flv7XNB+4tjYqK05X/fdaE5hg6Xgfsk0RD7VrHnl0AAAAAEABQGUv2XVgMYQEAAQBdWAxh

Just wanted to confirm that you tested on a real phone right ? for me it's crashing ios 14.5.

[2021-08-04 22:00] Meherdeep commented on #34
@luvishq Yes, I built it on a physical device running iOS 14.6 and it works perfectly. I tried closing the video window by pressing the disconnect button (I guess that's what you meant by closing the video window) and that brings me to an empty screen.

I wasn't able to reproduce the crash message that you shared. Can you try adding breakpoints in your code to possibly see where the code is failin

[2021-08-07 17:09] luvishq commented on #34
hey @Meherdeep , i fixed this issue, something related to ios configuration on our end. It's working great. Thank you so much for being patiently helping us :)

[2021-08-07 17:09] #34 closed

[2021-08-11 16:07] tadaspetra opened #35 "[BUG] disabledVideoWidget parameter only works for Floating View"
![Screen Shot 2021-08-11 at 11 05 52 AM](https://user-images.githubusercontent.com/60107328/129064122-bd09064b-bd3e-49c2-b184-b4f20177bf6d.png)
Only works when `layout: Layout.floating`
If the layout type is Grid, disabling the video, doesn't even show the agora defined disabled widget anymore.

[2021-08-17 12:23] mrtordoide opened #36 "[FEATURE] Have an option to keep the aspect ratio of remote video?"
**Is your feature request related to a problem? Please describe.**
It is not an issue but something I think will be very useful for cross platform view.

**Describe the solution you'd like**
I am looking forward to keep the width and height aspect ratio of each of the remote streams captured by the sdk selects rather than having an expanded view of the remote video which looks too zoomed in and wi

[2021-08-17 19:26] Meherdeep commented on #36
Hey @mrtordoide, Would you prefer a solution where we can offer a method to set your own `VideoRenderMode` in a `SurfaceView`?
https://pub.dev/documentation/agora_rtc_engine/latest/agora_rtc_engine/VideoRenderMode-class.html

[2021-08-18 01:45] mrtordoide commented on #36
Yes, that will be great @Meherdeep. Thank you! But I reckon it will only work on mobile platforms right? Do you know if web implementation at `dev/flutter2` support `VideoRenderMode` currently? I was unable to make it work.

[2021-08-21 10:58] Meherdeep commented on #36
@mrtordoide `VideoRenderMode` is a property of the `SurfaceView` and is available for web as well. If you want to try it out you can fork the web branch and add a VideoRenderMode

[2021-08-21 11:29] mrtordoide commented on #36
@Meherdeep Thanks for your response. Could you please tell me where SurfaceView is used when I use Flutter UIKit? Isn't it only `AgoraVideoViewer()` widget that is required instead of `SurfaceView` widget?

[2021-08-23 07:51] karzhartz opened #37 "[BUG]"
When i start a live stream it just shows a black screen
This is what it logs out in the terminal

E/libc    ( 5577): Access denied finding property "net.dns1"
E/libc    ( 5577): Access denied finding property "net.dns2"
E/libc    ( 5577): Access denied finding property "net.dns3"
E/libc    ( 5577): Access denied finding property "net.dns4"
W/System.err( 5577): java.io.FileNotFoundException: /sys/c

[2021-08-23 09:09] maxxfrazer commented on #37
did you set the application ID and a valid access token? (temporary tokens are valid for 24 hours)

[2021-08-23 09:32] #37 closed

[2021-08-24 07:02] karzhartz opened #38 "Livebroadcast stream occupies half the screen height"
How can i set the video stream to occupy the full height of the screen on the audience role because i don't see any option for it

[2021-08-24 07:37] #38 closed

[2021-08-25 15:09] holy-dev commented on #11
what should be the url in the tokenUrl: ""?

I'm using node to generate token, to generate token the URL goes something like this: site.com/generate_token?channel=test&uid=120&role=subscriber

[2021-08-27 15:57] mcbryan1 opened #39 "[BUG]"
I got an error. TargetPlatform.linux is not yet supported by plugin.
My machine runs on Ubuntu 20.04

[2021-08-31 01:58] mcbryan1 commented on #39
Found out it's because I was running it on the web. The issue was from flutter itself

[2021-08-31 01:58] #39 closed

[2021-09-02 17:49] holy-dev commented on #11
@maxxfrazer  thanks, I solved it. The url format is hardcoded in the plugin.

[2021-09-07 16:35] Meherdeep commented on #36
@mrtordoide You're correct. `AgoraVideoViewer` uses `SurfaceView` internally. If you want to add render mode then you will have to fork the repo and add `VideoRenderMode` over here: https://github.com/AgoraIO-Community/Flutter-UIKit/blob/main/lib/src/layout/grid_layout.dart#L32

[2021-09-08 17:45] tadaspetra commented on #6
Closing for now, if you still have issues feel free to reopen.

[2021-09-08 17:45] #6 closed

[2021-09-08 17:47] tadaspetra commented on #32
Active Speaker was fixed in version 0.0.3. If you are still experiencing the issue feel free to reopen

[2021-09-08 17:47] #32 closed

[2021-09-08 17:50] tadaspetra opened #40 "[BUG] No need to define all the callbacks"

[2021-09-10 13:25] tadaspetra opened #42 "[FEATURE] Add all the other event handlers"

[2021-09-10 14:10] tadaspetra commented on #42
@maxxfrazer and @Meherdeep These are all the event handlers missing from the UI Kit. I know there's some in there that are being deprecated, and some of them are rarely used. Should we add them all in, or just add them in as needed/requested?

void Function(WarningCode)? warning,
  void Function(ErrorCode, String, String)? apiCallExecuted,
  void Function(String, int, int)? rejoinChannelSuccess,

[2021-09-11 19:41] holy-dev opened #44 "[BUG] Issue with firebase firestore"
**Describe the bug**
It's shifting build directory inside android/app/ and Firestore not working in release. After remove agora, Firestore starts working normally and build directory is also in normal place.

**To Reproduce**
Steps to reproduce the behavior:
Just simple single line firestore operation.

**Desktop (please complete the following information):**
 - OS: Mac OS Big Sur 11.0

**Smartpho

[2021-09-22 11:01] agent515 opened #46 "[BUG] Unhandled Exception: Null check operator used on a null value at agora_uikit/controllers/session_controller.dart:217."
**Describe the bug**
After running the code given below, the `connectionData` property of value (Session Value Notifier) is returning null and throwing Null Exception that is not being handled. This is preventing AgoraClient from initializing the `RtcEngine`.

I tried almost the same code on another app for testing purposes and it worked fine.

**To Reproduce**

[code]
I am using a function in a C

[2021-09-22 17:53] #35 closed

[2021-09-22 18:09] #36 closed

[2021-09-22 18:10] #40 closed

[2021-09-22 18:10] #42 closed

[2021-09-22 18:29] #13 closed

[2021-09-22 18:31] tadaspetra commented on #44
Sorry for the late reply. Can you describe what you mean by shifting build directory? And can you send the logs as well

[2021-09-23 05:35] holy-dev commented on #44
Normally the build directory is /build but after adding the package the build directory going inside /android/app

There's nothing unnecessary in the log.

[2021-09-24 03:01] devDonald opened #49 "Heroku TokenUrl not working"
Anytime I create a token server using the link below, it gives me either invalid token or userRejected

https://www.agora.io/en/blog/2-click-setup-testing-token-server/

[2021-09-24 09:56] maxxfrazer commented on #49
To use the tokenUrl property you need to use a token server with different endpoints than the one you added:
tokenUrl docs: https://agora-flutter-uikit.vercel.app/models_agora_connection_data/AgoraConnectionData/tokenUrl.html
compatible token server: https://github.com/AgoraIO-Community/agora-token-service

You can use the token server you attached, but not with the Agora UIKit's builtin token fet

[2021-10-11 10:44] mohit41999 opened #52 "A SessionController was used after being disposed."
Once you have called dispose() on a SessionController, it can no longer be used.
When the exception was thrown, this was the stack:
#0      ChangeNotifier._debugAssertNotDisposed.<anonymous closure> (package:flutter/src/foundation/change_notifier.dart:114:9)
#1      ChangeNotifier._debugAssertNotDisposed (package:flutter/src/foundation/change_notifier.dart:120:6)
#2      ChangeNotifier.removeListe

[2021-10-26 05:38] hori20N opened #53 "[BUG] Black screen on Android Device"
**Describe the bug**
When I create a new SurfaceView or refresh its layout, there is a black frame before video stream loaded （It only occurs on android device)

**To Reproduce**
Steps to reproduce the behavior:
1. just create a new SurfaceView
2. switch layout type

**Expected behavior**
no black screen

**Screenshots**
1.
![1](https://user-images.githubusercontent.com/4444837/138815180-e21108fb-

[2021-11-02 12:51] tadaspetra commented on #53
Could you share the logs, and some of the code of how you initialized Agora?

[2021-11-17 14:46] khlewesamer commented on #52
after i comment this line
    //widget.client.sessionController.dispose();
in AgoraVideoViewer file that solve the bug , mybe sessionController disoposied before this line ,
if this solve problim pls do new push

[2021-11-17 14:51] khlewesamer commented on #52
the black screen is still there but I work around it by adding my one end button and passing it in extraButtons

[2021-11-22 15:45] tadaspetra opened #54 "[FEATURE] Allow extra buttons to be in front of default buttons"
**Is your feature request related to a problem? Please describe.**
Current implementation only allows the extra buttons to come after the default buttons. While we can manually add all the original buttons into the extra buttons, it would be nice to have a simple option to put them in front
![Screen Shot 2021-11-19 at 3 16 21 PM](https://user-images.githubusercontent.com/60107328/142891460-032a934

[2021-11-22 19:14] Meherdeep commented on #52
@mohit41999 The black screen that you mentioned occurs because there is no other screen in the navigation stack. So when you end the call `Navigator.pop(context)` pushes it to an empty screen.

[2021-12-03 05:38] moesaid opened #56 "[BUG] onError: ErrorCode.JoinChannelRejected"
**Describe the bug**
getting error on joining a room

[code]

**To Reproduce**
Steps to reproduce the behavior:
once on

**Expected behavior**
- so once joining a room on a video call I get the error
- if joining on a real device I get the error but I join the call
- using IOS simulator I get the error with joining the call

**Screenshots**

![image](https://i.imgur.com/oCvgTlY.png)
![Imgur](https

[2021-12-07 18:51] tadaspetra commented on #56
First thing I would check is that the tempToken isn't expired. It expires every 24 hours. Was this working before, or has it never worked?

[2021-12-07 19:05] moesaid commented on #56
Hi Tadas! love your videos buddy!
actually never worked tried multiple times regenerating tempToken on Agora console, and experienced the same error.

[2021-12-07 22:26] tadaspetra commented on #56
Thank you so much! That really means a lot :)

But can you try to run the example app that we have in the repo, and see if that works. I am wondering whether this could be something to do with GetX initialization. According to the documentation, these are some possible reasons for that error, but  from what you shared those aren't likely. One of my guesses is that GetX doesn't initialize it approp

[2021-12-07 22:37] tadaspetra opened #57 "[FEATURE] Clean up local user data"
Clean up task

We have an `AgoraUser` object, that we use for all users, except for the local user. In `agora_settings.dart` we use `isLocalUserMuted`, `isLocalVideoDisabled` and `localUid`. It makes sense to use the `AgoraUser` object here. And only have one variable.

Also just double checking... mainAgoraUser != localUser correct?

From my understanding the mainAgoraUser is the "biggest" user i

[2021-12-09 04:03] deShodhan commented on #52
Did you resolve the problem? You get the blank screen when you do not initialize agora properly. I resolved the blank screen but the sessionController error still exists.

[2021-12-09 04:05] deShodhan commented on #52
Did you resolve the problem? You get the blank screen when you do not initialize agora properly. I resolved the blank screen but the sessionController error still exists.

[2021-12-09 05:45] khlewesamer commented on #52
I resolve sessionController problem by disable default end call button then add my own in extraButton , the problem comes from tring to disposed controller after widget gone

[2021-12-09 05:48] dev-justine commented on #52
@khlewesamer

I still have the same issue, can you please, show your code to end the call?

[2021-12-09 06:31] dev-justine commented on #52
This is my custom function to end the call
  void endConsultation(context) async{
    await client.sessionController.endCall();
    Navigator.pop(context);
  }

But, I still get the error: a sessionController was used after being disposed.

I also get the error when I just pop the video call screen to a previous screen, without disposing any controller.

[2021-12-09 13:40] khlewesamer commented on #52
[code]

[code]
don't forget to comment on that line in AgoraVideoViewer file

last thing after edit AgoraVideoViewer file u need rerun the app

[2021-12-11 19:49] moesaid commented on #56
I didn't have a chance to run the example, but for sure will do so this week. I will let you know :)

[2021-12-12 17:17] shah000 opened #59 "[BUG]"
still black screen error in android

[2021-12-14 16:57] dev-justine commented on #52
@khlewesamer I did same thing you mentioned, but i kept on getting that same error.
`A SessionController was used after being disposed.`

[2021-12-14 17:08] mohit41999 commented on #52
@Meherdeep @khlewesamer  .. sorry for the late reply ..yes i got it solved by the same method suggested by you both .. thank you for the help.

[2021-12-14 17:12] #52 closed

[2021-12-14 17:17] Meherdeep commented on #59
@shah000 Can you please share some more details about this? Did you try running the example code? Also, please share you Agora SDK logs as well as Flutter doctor

[2021-12-14 17:18] Meherdeep commented on #46
@agent515 This error has been fixed, please try it out and let us know.

[2021-12-14 17:24] shah000 commented on #59
Yes I try example still same error

[2021-12-15 13:36] moesaid commented on #56
running the example

[code]

[2021-12-20 22:47] rlee1990 opened #60 "Live Stream Issue"
**Describe the bug**
When an audience member joins a live stream as an audience member their view is split with a blank top half even though there is only 1 person broadcasting.

**To Reproduce**
Steps to reproduce the behavior:
Create a live stream as a broadcaster and have someone view it as an audience member.

**Expected behavior**
Should just show the broadcaster taking the whole view.

**Sma

[2021-12-21 15:39] rlee1990 commented on #60
Here is a photo of what I am referring to ![image](https://user-images.githubusercontent.com/21372502/146957326-518e0bce-13d7-43b8-8872-7c0ae8121ad0.jpeg) @Meherdeep @tadaspetra

[2021-12-21 18:13] rlee1990 commented on #60
I found that the issue might be with the layout _getRenderViews() function for broadcast calling the
[code]

[2021-12-22 06:50] shanbit200 opened #61 "Error occured while initializing Agora RtcEngine: MissingPluginException(No implementation found for method create on channel agora_rtc_engine)"
Error occured while initializing Agora RtcEngine: MissingPluginException(No implementation found for method create on channel agora_rtc_engine)

for Mac Desktop development

<img width="806" alt="Screenshot 2021-12-22 at 12 19 58 PM" src="https://user-images.githubusercontent.com/4158103/147048389-1f345f45-74b7-44a6-bad4-be9f450c92fa.png">

[2021-12-24 04:58] rlee1990 commented on #60
@tadaspetra @Meherdeep it seams that when doing Livestreams the audience view is being added as a second view

[2021-12-24 05:03] rlee1990 commented on #60
I found changing the code to this fixed the issue:
[code]

[2021-12-27 09:59] alibharmal110 opened #62 "Issue while integrating agora_uikit in flutter 2.8"
Getting error while running the video conferencing app ,

Error:

W/System.err(13657): java.io.FileNotFoundException: /sys/class/thermal/thermal_zone0/temp: open failed: EACCES (Permission denied)
W/System.err(13657): 	at libcore.io.IoBridge.open(IoBridge.java:492)
W/System.err(13657): 	at java.io.FileInputStream.<init>(FileInputStream.java:160)
W/System.err(13657): 	at io.agora.rtc.gdp.GDPAndroid

[2022-01-01 07:59] shamsher400 opened #63 "Video View showing side blackscreen"

[2022-01-01 08:02] shamsher400 opened #64 "Video View showing side blackscreen"
Hi thanks for giving adorable Agora Video Call UI.
I am faceing issues Video works properly but its showing bothe side black screen.
if feture alerady implement to working aspect to fit please let me know . thanks in advance

[2022-01-01 08:03] #63 closed

[2022-01-04 21:06] Meherdeep commented on #64
Hey @shamsher400,

Thanks for using the UIKit. I am glad that you liked it.
The UIKit has `VideoRenderMode` which can help you adjust the video size and fit. You can do this by simply calling the `videoRenderMode` inside your `AgoraVideoViewer` class.
To fill the entire space, you can try this:

[code]

You can refer to this doc to know more about `VideoRenderMode`: https://docs.agora.io/en/Video/

[2022-01-04 21:09] Meherdeep commented on #60
@rlee1990 Thanks for flagging this. We will update this in our next release or you can submit a PR for the same.

[2022-01-04 21:13] Meherdeep commented on #61
@shanbit200 Agora UIKit currently supports Android and iOS. Desktop support will soon be added in the coming release.

[2022-01-05 08:35] shamsher400 commented on #64
Thanks @Meherdeep you made my day

[2022-01-05 08:35] #64 closed

[2022-01-05 19:01] #61 closed

[2022-01-05 20:02] tadaspetra commented on #62
<img width="547" alt="Screen Shot 2022-01-05 at 2 01 59 PM" src="https://user-images.githubusercontent.com/60107328/148281371-4a6f5dcb-7d29-4166-8be7-8954a7415470.png">

Try updating compileSdkVersion and targetSdkVersion to 31

[2022-01-30 08:04] lkrjangid1 opened #66 "[BUG] I got black screen in flutter v2.8.1"
Warnings:

[code]

Error:
[code]

Black Screen

![WhatsApp Image 2022-01-30 at 1 29 13 PM](https://user-images.githubusercontent.com/64513385/151691619-2eb1e327-dfd3-4bab-8573-2a16b9443896.jpeg)

Build.gradle

![image](https://user-images.githubusercontent.com/64513385/151691678-7f017a5b-99da-4855-addc-baba0cc6a13f.png)
![image](https://user-images.githubusercontent.com/64513385/151691709-6a7592ec

[2022-02-01 13:29] SherazJamil commented on #66
I am also having this issue. Before using this package I am using Agora RTC engine. It worked properly. When I used this package the same issue came.

[2022-02-01 13:30] waqadArshad commented on #66
I am having the same issue. It was working when I used only the agora_rtc_engine package but now after adding the agora_UIKit package it is showing me a black screen.

[2022-02-01 13:31] Meherdeep commented on #66
Same as issue #62?

[2022-02-01 13:34] waqadArshad commented on #66
as this issue states that the compile and target sdks both are set to 31 and that is the only solution stated in that issue, I think this is not the cause.

[2022-02-01 13:43] Meherdeep commented on #66
@waqadArshad @SherazJamil @lkrjangid1 I will try reproducing this error. It would be great if you could share some more light on this error. Which version of the Agora UIKit are you using? Is this limited to Android only? Are you getting this bug on your physical device or an emulator or both? Also, if you could share your log file that would be great.

[2022-02-01 13:57] SherazJamil commented on #66
**versions:**
  agora_rtc_engine: ^4.2.0
  agora_uikit: ^0.0.4

  **Tested on Android only.**

  **flutter doctor output:**
  `Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, 2.8.1, on Microsoft Windows [Version 10.0.19042.1466], locale en-US)
[!] Android toolchain - develop for Android devices (Android SDK version 30.0.1)
    X cmdline-tools component is m

[2022-02-01 14:06] SherazJamil commented on #66
@Meherdeep also tried running the example provided in this package's directory. still getting the same black screen.
Please look into this and resolve this as soon as possible. I shall be very thankful.

[2022-02-02 07:20] lkrjangid1 commented on #66
But i am running on 31
![image](https://user-images.githubusercontent.com/64513385/152110670-4f5a60c4-e596-42a9-abc2-d5baa6ddb8d1.png)

[2022-02-02 11:01] waqadArshad commented on #66
on the

on my other machine, I had all the licenses accepted and still got the same issue.

[2022-02-02 11:02] waqadArshad commented on #66
still, I would give it another try and let you know.

[2022-02-02 16:18] Meherdeep commented on #66
@lkrjangid1 I went through the code that you shared and it looks like you're calling `initState` inside the build method. Kindly update your code by declaring the `AgoraClient` and it's initialization outside the build method. You can have a look at the example code given [here](https://github.com/AgoraIO-Community/Flutter-UIKit/blob/main/example/lib/main.dart)

[2022-02-02 19:26] shahzadkhan1998 commented on #66
when iam calling by using Getx is give black Screen   and  by using same code setState its work properly`

[2022-02-03 19:01] lkrjangid1 commented on #66
Thank you, it's working now.

[2022-02-03 19:21] Meherdeep commented on #66
@shahzadkhan1998 What are you using `setState` or `getx` for?

[2022-02-09 06:42] Hawaii88 opened #67 "[BUG] set BeautyEffectOptions not working"
Set up Beauty Effect Options not working

I use agora_rtc_engine: ^4.0.7 to set with flutter. already adjust following the document but still not working.

To Reproduce
Steps to reproduce the behavior:
_engine.setBeautyEffectOptions(
true,
BeautyOptions(
lighteningContrastLevel: LighteningContrastLevel
lighteningLevel: value / 10,
rednessLevel: value / 10,
smoothnessLevel: value / 10,
),

Expected

[2022-02-18 20:37] Nader2004 opened #68 "[BUG] Unhandled Exception: PlatformException(17, request to join channel is rejected, null, null)"
Hello, while just running the basic example:

[code]

I couldn't join the channel with this  error :
`Unhandled Exception: PlatformException(17, request to join channel is rejected, null, null)`
Although I have read the docs about error code 17 at [https://docs.agora.io/en/Video/error_rtc?platform=Flutter](url)
Non of the the mentioned causes were used or exist in the basic example

[2022-02-25 09:29] kairakhatri commented on #52
Did you fix it?😶

[2022-03-01 16:55] Meherdeep commented on #66
Closing this issue for now. If you're still facing the issue feel free to reopen it.

[2022-03-01 16:55] #66 closed

[2022-03-01 16:57] Meherdeep commented on #68
@Nader2004 This error occurs when the user hasn't left the channel and you're trying to join the channel again. Make sure that you disconnect the call and leave the channel before joining again.

[2022-03-01 16:59] Meherdeep commented on #62
Closing this for now. If you're still facing the issue feel free to reopen it.

[2022-03-01 16:59] #62 closed

[2022-03-01 17:01] #59 closed

[2022-03-01 17:09] Meherdeep commented on #44
@holy-dev Can you please confirm if this occurs with iOS as well? And, for Android, you can try changing your project directory inside `build.gradle`

[2022-03-03 20:40] Meherdeep commented on #67
@Hawaii88 I am not so sure how you're calling the `_engine`. But the correct method to call the `setBeautyEffectOptions` from the UIKit would be :
[code]

[2022-03-10 13:42] alimajid124 commented on #52
how we can do while using Adora UI Kit

[2022-03-10 14:54] Meherdeep commented on #68
@Nader2004 Closing this issue for now. Feel free to open it again if you're still facing this issue.

[2022-03-10 14:54] #68 closed

[2022-03-10 14:54] Meherdeep commented on #67
@Hawaii88 Closing this issue for now. Feel free to open it again if you're still facing this issue.

[2022-03-10 14:54] #67 closed

[2022-03-10 14:56] Meherdeep commented on #56
@moesaid Closing this issue for now. Feel free to open it again if you're still facing this issue.

[2022-03-10 14:56] #56 closed

[2022-03-10 14:56] Meherdeep commented on #53
@hori20N Closing this issue for now. Feel free to open it again if you're still facing this issue.

[2022-03-10 14:56] #53 closed

[2022-03-10 14:57] Meherdeep commented on #44
@holy-dev Closing this issue for now. Feel free to open it again if you're still facing this issue.

[2022-03-10 14:57] #44 closed

[2022-03-20 19:19] waqadArshad commented on #66
There is a very good chance that the token is not being generated or the tempToken provided in the AgoraConnectionData is Expired or invalid and you would see something like:

[code]

in the console. Also there is a chance that the appId is not valid or correct or if a tokenUrl is provided, it is incorrect or the Server is not deployed correctly. So please do check that also.

[2022-03-20 19:50] waqadArshad commented on #52
The same thing, even after putting my custom button and calling:

[code]

I am still getting the error: `SessionController was used after being disposed.`

[2022-03-20 20:32] waqadArshad opened #73 "[BUG] tokenUrl is not generating the token and giving a 404 Not Found"
@maxxfrazer @Ascenio @hxingpax @Meherdeep @tadaspetra
**Describe the bug**
agora_uikit: ^0.0.4
agora_rtc_engine: ^4.2.0

I hosted `https://github.com/AgoraIO-Community/agora-token-service` server on Heroku and just copied the base Url of the server: https://nikah----match.herokuapp.com/ as the tokenUrl in the AgoraConnectionData constructor as given here:

[code]
and got the error:

[code]
What el

[2022-03-21 16:34] maxxfrazer commented on #73
addressed in https://github.com/AgoraIO-Community/agora-token-service/issues/22

@waqadArshad to save yourself time, it might be easier to use [Postman](https://www.postman.com/downloads/), or a similar tool for checking that your token server is running properly.

[2022-03-21 18:01] maxxfrazer commented on #73
The correct URL for you and your colleague is:
`"https://nikah----match.herokuapp.com"`

This project is all open source, corresponding code is here:
https://github.com/AgoraIO-Community/Flutter-UIKit/blob/829db279ad14a4af6828cb522ca96b8c2a3dd9d4/lib/controllers/session_controller.dart#L631

I'd suggest modifying the local copy of that to print out the full URL that it uses, just to check. If it c

[2022-03-23 12:31] lkrjangid1 opened #74 "[BUG] Show me complete black screen in first time and in second time it's working fine."
1. Show me this error in the console when I am open the chat screen
[code]

2. When I move one video chat to another chat I have to get another error message
[code]
3. Show me this error when I am exit from the video call

[code]

[2022-03-28 01:28] anywheresa commented on #74
I have the same issue, except it does not work at all.

[2022-03-30 08:25] #73 closed

[2022-03-30 15:19] waqadArshad commented on #73
Yes sorry for the delayed response. I was really busy these past few days. Yes, it seems to be working just fine now.

@maxxfrazer Thanks a lot for the help. I really appreciate it.

[2022-04-20 01:04] apkpotty opened #75 "package dependencies are outdated"
**Describe the bug**
Dependent packages are pinned. eg. agora_rtc_engine is pinned to 4.0.6 and permission_handler 8.0.0+1

**To Reproduce**
Steps to reproduce the behavior:
1. Go to pubspec.yaml
2. add package dependencies

agora_uikit: ^0.0.4
agora_rtc_engine: ^5.0.1
permission_handler: ^9.0.2

4. Run flutter pub get
5. Shows the below error

Running "flutter pub get" in xxxxxxxxx ...
Because ag

[2022-04-20 16:28] GitAnubhav1 opened #76 "Unable to end call after a specific duartion"
I am using Flutter-UIKit for my project and I am looking for way that will end the call after a specific duration. Is it possible with UIKit.
My requirement is that a video call can only run for a specific duration and after that it should end automatically.
Any help in this regard would be really helpful. Thanks

[2022-04-22 06:29] Meherdeep commented on #75
@apkpotty Looks like you're importing the `agora_rtc_engine` and `permission_handler` along with the UIKit, which is already added to the UIKit.

In case you want to use access any other `agora_rtc_engine` method/callback which is not already added to the UIKit, you can simply call the `agora_rtc_engine` object and call any method using that. Similarly for any kind of permission you can add it to

[2022-04-22 06:31] Meherdeep commented on #76
Hey @GitAnubhav1, You can try setting a duration for a token. Once the token expires you can refer to the `agora_rtc_engine` object and call the end call method.

[2022-04-22 06:35] Meherdeep commented on #74
@lkrjangid1 Error code 17 can be because - you either joined a channel but didn't leave it successfully or you are trying to join channel with an incorrect or expired token.

[2022-04-22 06:47] GitAnubhav1 commented on #76
Thanks a lot

[2022-04-22 06:48] #76 closed

[2022-04-25 12:47] prashantspandey opened #77 "Module was compiled with an incompatible version of Kotlin. The binary version of its metadata is 1.5.1, expected version is 1.1.16.[BUG]"
I created a flutter java app and imported this project.
But can't run the project because it shows:
Module was compiled with an incompatible version of Kotlin. The binary version of its metadata is 1.5.1, expected version is 1.1.16.

Now when I am adding  ext.kotlin_version = '1.6.0'.
Still the same error persists. I don't understand because it's not a kotlin project but a java one. Then also it's

[2022-04-25 17:14] Meherdeep commented on #77
This looks like some Gradle caching issue. Can you try updating the Gradle version?

[2022-04-26 04:18] prashantspandey commented on #77
`buildscript {
    repositories {
        ext.kotlin_version = '1.6.10'
        google()
        mavenCentral()
        maven { url 'https://jitpack.io' }
    }

    dependencies {
        classpath 'com.android.tools.build:gradle:7.0.4'
    }
}

allprojects {
    repositories {
        google()
        mavenCentral()
    }
}

rootProject.buildDir = '../build'
subprojects {
    project.buildDir =

[2022-04-30 16:23] fisforfaheem opened #79 "Unable to use it woth latest SDK and latest packages, please fix the issues and support latest packages like build runner v9"
I want to use the latest version of agora but this is the problem i cant use it because of this

[2022-05-05 15:43] jack84156 opened #80 "[BUG] it wont install the plugin because my permission_handler is up to date"
Because every version of agora_uikit depends on permission_handler ^8.0.0+1 and my app depends on permission_handler ^9.2.0, agora_uikit is forbidden.
So, because my app depends on agora_uikit ^0.0.4, version solving failed.
pub get failed (1; So, because whosaround depends on agora_uikit ^0.0.4, version solving failed.)

[2022-05-09 05:14] GitAnubhav1 opened #81 "[BUG] I am not able to find the duration of the call"
Once any user ends the call or decided to opt out of the video call, is there a way we can find the duration of the call?

[2022-05-09 10:27] maxxfrazer commented on #81
@GitAnubhav1, you can get the duration for the local user on the device:
https://docs.agora.io/en/Video/API%20Reference/flutter/API/rtc_api_data_type.html?platform=Flutter#class_rtcstats

[2022-05-09 15:23] Meherdeep commented on #80
Hey @jack84156 ,

You can add all the additional permissions you need in the `enabledPermission` array inside the `AgoraClient` class.

[2022-05-23 08:09] user97116 opened #82 "[FEATURE] Upgrade to flutter 3"

[2022-05-23 19:32] Nader2004 opened #83 "how to send and receive messages in rtm"
Hello I have been trying to send and receive message through the `AgoraRtmChannel` Object. But whenever i listen to messages through the `onMessageReceived`, it tells me that I called the `onMessageReceived` on null,

Here is the code:

[code]
Here is the error :

[code]

[2022-05-23 20:22] Meherdeep commented on #83
Hey @Nader2004 , In your `AgoraConnectionData` class can you try defining `rtmEnabled` as `true`

[2022-05-23 20:24] Meherdeep commented on #83
Hey @Nader2004 , Inside your `AgoraClient` you can use `agoraRtmChannelEventHandler` to call any callback from the Agora RTM Channel class.

[2022-05-23 20:37] Nader2004 commented on #83
Hey @Meherdeep thanks for replying, I have tried looking for a named argument that have to do anything with rtm messages but couldn't find one except two that are about rtm  :

[code]

Also how can I send messages then using rtm from UIKit.

[2022-05-25 11:55] Nader2004 commented on #83
Hey @Meherdeep thanks for the package update. But is still actually facing the problem of sending messages, when I call `sendMessage` from `AgoraRtmChannel` like that : `client.sessionController.value.agoraRtmChannel.sendMessage(
                              AgoraRtmMessage.fromText(text));`, it fails with `error code 102`, which according to the agora documentation is about rtm login issue. So i

[2022-05-25 16:23] Meherdeep commented on #82
@user97116 You can now use the UIKit with Flutter 3 by using [v1.0.0](http://pub.dev/packages/agora_uikit)

[2022-05-25 16:23] #82 closed

[2022-05-25 16:29] Meherdeep commented on #80
Hope the above solution helped. If the problem still persists you can  use the latest version of the UIKit ([v1.0.0](http://pub.dev/packages/agora_uikit)) where we are using the latest version of permission_handler (v9.2.0)

If the problem still persists feel free to reopen the issue.

[2022-05-25 16:29] #80 closed

[2022-05-25 16:30] Meherdeep commented on #79
Hope the above solution helped. If the problem still persists you can use the latest version of the UIKit ([v1.0.0](http://pub.dev/packages/agora_uikit)) where we are using the latest version of the Agora SDK

If the problem still persists feel free to reopen the issue.

[2022-05-25 16:30] #79 closed

[2022-05-25 16:33] Meherdeep commented on #77
@prashantspandey Please use the latest version of the UIKit that should solve the issue. http://pub.dev/packages/agora_uikit

if you're still facing the issue feel free to reopen the issue.

[2022-05-25 16:40] Meherdeep commented on #74
Closing this issue for now. If you're still facing this issue please feel free to reopen this issue.

[2022-05-25 16:40] #74 closed

[2022-05-25 16:43] Meherdeep commented on #75
@apkpotty The dependencies have been updated to the latest version in our new release [v1.0.0](http://pub.dev/packages/agora_uikit).

Closing this issue for now, feel free to reopen if the issue still persists.

[2022-05-25 16:43] #75 closed

[2022-05-25 22:11] fisforfaheem commented on #79
I hope it keeps updating  Thanks

[2022-05-27 12:12] Nader2004 commented on #83
hey @Meherdeep I apologize for the late response, I have added the `if check` but the error still exist. But I did extra observation on the error and discovered that by calling : `client.initialize()` , it doesn't actually call the Rtm login method.
Here is the code of the `initialize()` method:

[code]

The important part here is the :

[code]
When calling `initializeRtm()` only the `RtmClient` i

[2022-05-27 16:15] Meherdeep commented on #83
Hey @Nader2004, the Rtm login occurs once the user joins the RTC channel. Hence, it's called under the `joinChannelSuccess` callback.
Can you share your code where you're trying to send a message and your `flutter doctor`

[2022-05-30 08:36] abhishekthakur0 opened #86 "InBuiltButton not changing it's state"
If we use inBuiltButton along with the external button in that case InBuiltButtons are not changing its state.
For example mute/unmute does not work .

**To Reproduce**
Steps to reproduce the behavior:
1. Add few button from inBuiltButton
2. Add few external button
3. try to use inBuiltButton

[2022-06-01 11:02] maxxfrazer commented on #60
Looks like this one is fixed now, closing issue.

[2022-06-01 11:02] #60 closed

[2022-06-01 11:03] maxxfrazer commented on #81
Looks like @Meherdeep's comment fixes the solution, no response in 7 days so closing. Feel free to open again if this solution did not work for you.

[2022-06-01 11:03] #81 closed

[2022-06-02 18:11] Meherdeep commented on #86
Thank you @abhishekthakur0 for flagging this issue. I will fix this with the new release.

[2022-06-02 19:06] Meherdeep commented on #83
Hey @Nader2004 Sorry for the late reply. I tried building the sample code that you shared, I just made a small adjustment to the sendMessage logic and I was able to send messages using that. Here's the code for that:

[code]

[2022-06-06 09:53] ndungudedan opened #88 "SessionController methods deprecation update on the documention"
After updating to the latest version, methods such as endCall, toggleMute, toggleCamera are no longer defined in the SessionController class.
I am struggling to find documentation on the required migration to implement.
Any assistance will be highly appreciated.

[2022-06-07 13:36] misterblack0101 opened #89 "[BUG] Using enabledButtons does not change icons on click."
**Describe the bug**
If I add a `List<BuiltInButtons>` to enabledButtons in Agora, to
  1. Add a set of buttons based on call type (Audio call doesn't require the camera buttons).
  2. Re-order the buttons.

then, the button toggle Icon change breaks. For ex. Pressing the mute button doesn't change the mic icon.

**Steps to reproduce the behaviour:**
1. Set a list of BuiltInButtons for enabledButt

[2022-06-12 07:39] gtiger165 opened #90 "[FEATURE] Optional by adding few onPressedCallback in AgoraVideoButtons Widget class"
**Is your feature request related to a problem? Please describe.**
This lib ui kit really helpful for me to implement Video Call in flash, but some cases like when i pressed end call button i need to show some pop up dialog first, then after i choose an option execute end button call functionality.

**Describe the solution you'd like**
So i've read the code in buttons.dart. I believe in AgoraVideo

[2022-06-13 15:52] #89 closed

[2022-06-14 21:11] Meherdeep commented on #86
@abhishekthakur0 The issue has been fixed in the latest version (1.0.2): https://pub.dev/packages/agora_uikit

[2022-06-15 15:09] Meherdeep commented on #90
@gtiger165 Thanks for submitting your suggestion and yes, I agree that will be a helpful feature. You can submit a PR for the same or I will make sure to add this feature in our next release.

[2022-06-15 15:13] Meherdeep commented on #88
All the methods related to in built buttons have been added to the `rtc_buttons.dart`

[2022-06-15 15:15] Meherdeep commented on #86
Closing this issue. Feel free to open it again if the solution did not work for you.

[2022-06-15 15:15] #86 closed

[2022-06-16 03:35] gtiger165 commented on #90
thanks @Meherdeep, i'll try to submit later on my free time.

[2022-06-25 08:30] waqadArshad commented on #52
@khlewesamer @Meherdeep @deShodhan @mohit41999 does anyone have any real solution for this. and why isn't this fixed in the package itself?
Thanks

[2022-06-25 08:35] maxxfrazer commented on #52
@Meherdeep could you take a look at this Monday?

[2022-06-26 12:25] waqadArshad commented on #52
@maxxfrazer @Meherdeep

Thanks for this I updated the agora versions and it got resolved. But I am now getting this following error quite often.

[code]

Agora version:

[code]

Here is my configuration:

[code]
using this in initState:

[code]

and my flutter doctor -v:

[code]

Can you please have a look? I search for it but could understand what is causing this. It is really very annoying. Than

[2022-06-26 12:26] waqadArshad opened #92 "PlatformException(-17, request to join channel is rejected, null, null) Or when I end the call PlatformException(-7, , null, null)"
@maxxfrazer @Meherdeep

First of all, thanks a lot for this fantastic package and its regular maintenance.
I am getting the following error sometimes.

[code]

I also get this log every time, even if I successfully join the call

[code]

This is the partial console output that I am getting after initiating the call:

[code]

Also, every time I end the call, I get:

[code]

Agora version:
[code]

H

[2022-07-05 16:28] SrujanMungara opened #93 "Peer to peer video calls"
I have 100 users. How can I make a peer to peer calls(only between two individuals) for those users. How to differentiate channel names etc for not overlapping the calls

[2022-07-05 18:33] Meherdeep commented on #92
Hey @waqadArshad,
sorry, for the delayed response. I tried building using the code that you shared and the initialisation error can be ignored as it takes shows the internal state. But for the end user the a successful initialisation will be followed by a successful join channel callback.

The error code 17 that you're getting can be due to an incorrect token provided or by logging again with the

[2022-07-06 09:40] SrujanMungara commented on #93
My requirement is identical to a whatsapp video/voice call. No need for the user to enter anything. I need to connect to the receiver directly.

[2022-07-15 16:50] Baghdady92 opened #94 "[FEATURE] Windows , mac , Linux, web Support ?"
Hello Agora Team
I love this package and
i'd like to see it working on all platform
as we're flutter developers we're expecting to make the app work in all platform
thanks alot in advance

[2022-07-19 13:18] maxxfrazer commented on #94
@Baghdady92 this would need to be fixed in the RTM portion first. It's something we've requested, but I don't see the SDK team adding it before the end of this year unfortunately

RTM SDK: https://github.com/AgoraIO/Agora-Flutter-RTM-SDK

[2022-07-21 01:48] hmbenhaim opened #95 "[agora_uikit: 1.0.2][flutter_web: 3.0.5] MissingPluginException issue"
Hi guys
I saw that the web support is marked as done so i thought I'll give this package a try.
i'm looking for a good video calls platform for very long time.

i used the example

my code is
[code]

The error I get
[code]

Thank you

[2022-07-28 20:58] Meherdeep commented on #95
Hey @hmbenhaim, UIKit currently supports Android and iOS as of now. We are working on adding support for Web and desktop. In the meanwhile you can use the [agora_rtc_engine](https://pub.dev/packages/agora_rtc_engine) package to add web support for your application.

[2022-07-28 23:28] JoshJuncker opened #96 "[BUG]"
**Describe the bug**
When I join a Live Broadcast channel, `AgoraVideoViewer` with channel data `ChannelProfile.LiveBroadcasting` and `ClientRole.Audience` it still splits the screen as if I were going to publish my local feed. On Android, it also turns on my microphone (although not camera) as if I were going to record and publish my local feed. iOS has the same issue, but doesn't turn on microph

[2022-08-07 14:42] tadaspetra opened #98 "[BUG] When adding to an app, endCall doesn't pop to previous screen"
**Describe the bug**
When adding UI Kit to an existing app, clicking endCall doesn't go back to the previous screen. Instead I see a black screen.

**Expected behavior**
It goes back to previous screen.

**Desktop (please complete the following information):**
 - OS: Android

**Additional context**
My first guess, is the endCall function gets called with a different context

[2022-08-08 20:44] Meherdeep commented on #92
Closing this issue for now. If you're still facing this issue feel free to reopen it.

[2022-08-08 20:44] #92 closed

[2022-08-08 20:45] Meherdeep commented on #88
Closing this issue for now. If you're still facing this issue feel free to reopen it.

[2022-08-08 20:45] #88 closed

[2022-08-08 20:46] Meherdeep commented on #83
Closing this issue for now. If you're still facing this issue feel free to reopen it.

[2022-08-08 20:46] #83 closed

[2022-08-09 19:55] Meherdeep commented on #96
@JoshJuncker This has been fixed with the new release v1.0.3 Let us know if it solves your issue.

[2022-08-09 19:55] #95 closed

[2022-08-09 19:56] Meherdeep commented on #90
@gtiger165 This feature has been added to the latest release v1.0.3

[2022-08-09 19:56] #90 closed

[2022-08-16 19:55] Meherdeep commented on #96
Closing this issue for now, if you are still facing the issue feel free to reopen it.

[2022-08-16 19:55] #96 closed

[2022-08-21 15:23] parveezshaikh opened #99 "tokenUrl does not work"
**Describe the bug**
tokenUrl does not work

**To Reproduce**
Steps to reproduce the behavior:
1. in the AgoraConnectionData, assign the tokenUrl of the token server as "https://appname.herokuapp.com/rtc/channelname/publisher/uid/0"
--------------------------
Please note that solution in #73 does not fix the issue,
--------------------------
Getting following error:
---------------------------
Fai

[2022-08-21 18:17] parveezshaikh commented on #99
Fixed. the tokenUrl should be only -> "https://appname.herokuapp.com"

[2022-08-21 18:17] #99 closed

[2022-10-05 22:50] yahyamokaied opened #105 "[BUG]"
**Describe the bug**
In Agora_UIKit Getting error When trying to click on endCall it  and it doesn't go back to the previous screen

**Expected behavior**
It goes back to previous screen and close the channel/session successfully

**Smartphone (please complete the following information):**
 - Device: iPhone Xs Max
 - OS: iOS 15.6.1

**Additional context**
Tried with and without OnDisconnect  but i

[2022-10-24 10:48] waqadArshad opened #106 "agora_uikit: ^1.0.4 is incompatible with agora_rtc_engine: ^6.0.0"
@Meherdeep @maxxfrazer @Ascenio @hxingpax
while updating the dependencies, I am getting this issue.
agora_uikit: ^1.0.4 is incompatible with agora_rtc_engine: ^6.0.0 because agora_uikit: ^1.0.4 is still using the older 5.0.2 version

[2022-10-24 11:05] maxxfrazer commented on #106
Hi @waqadArshad, thanks for the message!

We're aware of this and an updated version is underway on this branch:

https://github.com/AgoraIO-Community/VideoUIKit-Flutter/tree/ngsdk-release

When updating to use that SDK, the changes for devs using the Flutter Video UI Kit will be very minor, despite RTC 6.x being very different from 5.x

[2022-10-24 11:09] waqadArshad commented on #106
@maxxfrazer so does this mean I should use 5.0.2 for now?

[2022-10-24 13:16] arslankaleem7229 commented on #93
@SrujanMungara  seems like your requirements are the same as mine. I want to integrate direct video calls like WhatsApp but right now I am unable to find such a thing. Is this your problem statement? And did you find anything?

[2022-10-27 08:14] arslankaleem7229 opened #107 "How to call directly like Whatsapp using this package ?"
I want to integrate direct calling like WhatsApp and second person should be able to see notification of call where he/she can accept/reject. But I didn't find such functionality here. So is there any functionality like this ?

[2022-11-23 20:26] Meherdeep commented on #105
You can ignore the error that you shared. To navigate the screen to the previous page or to add any other function to the end call button you can use the `onDisconnect` method in the `AgoraVideoButton` class and specify how you want the button to behave.

[2022-11-23 20:26] #105 closed